/* style.css */

body {
  background-color: #e6ccff;
  color: #28004d;
}
h1 {
  color: #28004d;
  text-align: left;
}
h3 {
  color: #28004d;
  text-align: left;
}
li {
  color: #28004d;
  text-align: left;
}
p{
  color: #28004d;
  text-align: left;
}

table {
  color: #28004d
  text-align: left;
}
