/* style.css */


body {
  background-color: #FFFFFF;
  color: #fa050d;
  font-size: 12px;

}



h1 {
  text-align: center;
  font-size: 150%;
  line-height: 10;
  color: #c7382e;

}

h1 a {
  color: #c7382e;
  text-decoration: none;
}

h1 a:hover {
  color: #000000;
  text-decoration: none;

}

nav ul {
    position: relative;
    margin: auto;
    padding: 0;
    list-style: none;
    width: 100%;
    text-align: center;

}

nav ul li  {
  display: inline-block;
  text-align: center;

}

nav ul li a {
  text-decoration: none;
  text-align: center;
  width: 100px;
  padding: 15px;
  color: #666060

}

nav ul li a:hover {
  color: #ed594e;

}

h3  {
  text-align: center;
  color: #666060;
  margin-top: 100px;
  font-size: 18px;
  letter-spacing: 2px;

}

p {
  text-align: left;
  color: #000000;
}


.header-container {

  color: #FFFFFF;

  padding: 20px;

  display: flex;
  justify-content: center;

  border: 1px solid red; /*DEBUG*/

}

.header {

  width: 900px;
  height: 100px;

  display: flex;
  justify-content: center;
  align-items: center;

  border: 1px solid blue; /*DEBUG*/

}


main-name:link, .main-name:visited {
  color: #c7382e;
}

/* Hovering state, both new and visited before. Lighter Red #d8625a*/
main-name:hover,
main-name:visited:hover {
  color: #d8625a;
}
/* Clicked, also both new and visited before. Darker Red #912922*/
main-name:active,
main-name:visited:active {
  color: #912922;
}


/*visited link*/
a:link, a:visited {
  text-decoration:none;
  color: #666060;

}

/*mouse over link*/
a:hover {
  color: #fa050d;

}

/*selected link*/

a:active {
  color: #c7382e;

}

.menu-container {

  display: flex;
  justify-content: center;

  border: 1px solid red; /*DEBUG*/

}

.menu {

  width: 900px;
  margin: 20px;

  display: flex;
  justify-content: center;
  align-items: center;

  border: 1px solid blue; /*DEBUG*/

}

.button {

  width: 175px;
  height: 50px;

  /* Flexbox vars */
  display: flex;
  justify-content: center;
  align-items: center;

  border: 1px solid blue; /*DEBUG*/

}

.footer-container {

  display: flex;
  justify-content: center;

  border: 1px solid red; /*DEBUG*/

}

.footer {

  width: 700px;
  margin: 20px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  border: 1px solid blue; /*DEBUG*/

}

.info-container {

  display: flex;
  justify-content: center;

  border: 1px solid red; /*DEBUG*/

}

.info {

  width: 700px;

  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;

  border: 1px solid blue; /*DEBUG*/

}

.info-h1 {

  height: 50px;

  /* Flexbox vars */
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 10px;

  font-size: 1.2em;
  font-style: bold;
  color: #000000;

  border: 1px solid blue; /*DEBUG*/

}

.info-h1-list {

  margin: 10px;
  margin-left: -30px;

  height: 50px;

  font-size: 1.2em;
  font-style: bold;
  color: #000000;

  /*border: 1px solid blue; /*DEBUG*/

}

.email {

  color: #6e6e6e;

}
