/* style.css */

body {
  background-color: #FFFFFF;
  color: #fa050d;

}


li {
  border-right: 1px solid #bbb;
}

li:last-child {
  border-right: none;

}

h1 {
  text-align: center;
  font-size: 18px;
  line-height: 10;
  color: ##fa050d;

}

h3 {
  text-align: center;
  font-size: 10px;
  color: #000000;

}

li {

  color: #e6e6ff;
}

p{
  text-align: center;
  font-size: 13px;
  color: #000000;

}

table {
  color: #e6e6ff;

}
